{% extends "base.html" %}
{% block title %} Home {{ super() }} {% endblock %}

{% block body %}
<h2>Welcome, {{username}}</h2>
<hr><br>
<form action="/signout" method="GET">
    <input type="submit" value="Sign Out">
</form>
<hr><br>

<h2>Fetching Earthquake Data Status: {{ data.get("success") }}</h2>

{% if data.get("success") %}
<h3>Cached Status: {{ data.get("cached") }}</h3>
<h3>Last Updated: {{ data.get("last_updated") }}</h3>
<hr><br>

    {% if data.get("data") %}
        {% set earthquake = data.get("data") %}
        <h3>Latest Earthquake Bulletin Summary</h4>
        <h4>{{ summary|safe }}</p>

        <p>For more information, visit the official and detailed log report
            <a href="{{ earthquake.get('detail_link') }}" target="_blank", rel="noopener noreferrer"> 
                here
            </a>
        </p>

        <h3>View:</h3>
        {{ view }}
    {% else %}
    <p>No latest earthquake data fetched.</p>

    {% endif %}


    {% if data.get("data") %}
    {% set earthquake = data.get("data") %}
        <table>
            <thead>
                <th>Date-Time</th>
                <th>Detail Link</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Depth</th>
                <th>Magnitude</th>
                <th>Location</th>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{earthquake.get("date_time")}}</td>
                    <td>
                        <style>
                            a:visited{
                                color:blue;
                                text-decoration: none;
                            }
                        </style>
                        <a href="{{earthquake.get('detail_link')}}" target="_blank" rel="noopener noreferrer">
                            {{earthquake.get("detail_link")}}
                        </a>
                    </td>
                    <td>{{earthquake.get("latitude")}}</td>
                    <td>{{earthquake.get("longitude")}}</td>
                    <td>{{earthquake.get("depth")}}</td>
                    <td>
                        {% if (earthquake.get("magnitude") | int) >= 4 %}
                            <b>{{earthquake.get("magnitude")}}</b>
                        {% else %}
                            {{earthquake.get("magnitude")}}
                        {% endif %}
                    </td>
                    <td>{{earthquake.get("location")}}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>Fetching successful, but no earthquakes recently</p>
    {% endif %}

{% else %}
    <h3>Error {{ data.get("error") }}</h3>
{% endif %}

{% endblock %}



<!-- commented out (for all earthquakes) -->
{#
    <tbody>
            {% for earthquake in data["data"] %}
                <tr>
                    <td>{{earthquake.get("date_time")}}</td>
                    <td>
                        <style>
                            a:visited{
                                color:blue;
                                text-decoration: none;
                            }
                        </style>
                        <a href="{{earthquake.get('detail_link')}}" target="_blank" rel="noopener noreferrer">
                            {{earthquake.get("detail_link")}}
                        </a>
                    </td>
                    <td>{{earthquake.get("latitude")}}</td>
                    <td>{{earthquake.get("longitude")}}</td>
                    <td>{{earthquake.get("depth")}}</td>
                    <td>
                        {% if (earthquake.get("magnitude") | int) >= 4 %}
                            <b>{{earthquake.get("magnitude")}}</b>
                        {% else %}
                            {{earthquake.get("magnitude")}}
                        {% endif %}
                    </td>
                    <td>{{earthquake.get("location")}}</td>
                </tr>
            {% endfor %}
            </tbody>
           
#}